<config version="1.2">
  <java>
    <alternative_java>C:\Program Files\Java\jre1.8.0_31\bin\java.exe</alternative_java>
  </java>
  <advanced>
    <spamfilter>
    </spamfilter>
    <minotar_size>32</minotar_size>
    <minotar_source>http://minotar.net</minotar_source>
  </advanced>
  <tray>
    <time>500</time>
    <join>false</join>
    <disconnect>false</disconnect>
    <warning>false</warning>
    <severe>false</severe>
    <always>false</always>
    <minimize>false</minimize>
  </tray>
  <superstart>
    <bukkit_get_version>true</bukkit_get_version>
    <bukkit_auto_update>true</bukkit_auto_update>
    <bukkit_auto_update_automatic>false</bukkit_auto_update_automatic>
    <jre>4</jre>
    <server>0</server>
    <minram>128</minram>
    <maxram>1024</maxram>
    <jar>C:\Users\Administrador\Desktop\Forge 1.7.10\cauldron-1.7.10-1.1236.05.212-server.jar</jar>
    <custom_args>
    </custom_args>
    <custom_switch>
    </custom_switch>
    <remote_host>
    </remote_host>
    <remote_username>
    </remote_username>
    <remote_port>20059</remote_port>
    <remote_password>
    </remote_password>
    <remote_salt>
    </remote_salt>
  </superstart>
  <output>
    <info>blue</info>
    <player_event>green</player_event>
    <warning>orange</warning>
    <severe>red</severe>
    <unknown>black</unknown>
    <date>false</date>
    <time>true</time>
    <hide_warning>false</hide_warning>
    <hide_error>false</hide_error>
    <hide_stacktrace>false</hide_stacktrace>
    <font_name>arial</font_name>
    <font_size>9</font_size>
    <utf_8_compatibility>false</utf_8_compatibility>
  </output>
  <sound>
    <join>false</join>
    <disconnect>false</disconnect>
    <warning>false</warning>
    <severe>false</severe>
  </sound>
  <options>
    <auto_update>true</auto_update>
    <enable_tabplayers>true</enable_tabplayers>
    <enable_taberrorlogging>true</enable_taberrorlogging>
    <enable_tabtaskmanager>true</enable_tabtaskmanager>
    <enable_tabplugins>true</enable_tabplugins>
    <enable_tabserveroptions>true</enable_tabserveroptions>
  </options>
  <lightmode>false</lightmode>
  <language>C:\Users\Administrador\Desktop\Forge 1.7.10\BukkitGUI\Localization/default.xml</language>
  <pluginmanager>
    <installedplugins>
    </installedplugins>
    <installplugins>
    </installplugins>
  </pluginmanager>
  <autostart>false</autostart>
</config>